@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

body{
  background: #FEFEFE url(img/bg.png) repeat-x center -10px;
}

div#preso{
  background-color: transparent;
}

.slide{
  background-color: transparent;
  background-image: url(img/logo.png);
  background-position: left 40px;
  background-repeat: no-repeat;
}

.content {
  color: black;
  font-family: "Ubuntu", helvetica, arial;
}

h1, h2 {
  text-shadow: 1px 1px 2px #000;
  color: #7A5CCE;
  font-family: "Ubuntu";
  font-weight: bold;
}

pre, code{
  font-family: "Ubuntu Mono", monospace;
}
